.wrapper#content #absolute_wrapper .leftSide {
    width: 290px;
    background: #fff;
    text-align: left;
    float: left;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    top: 0;
}

.wrapper#content #absolute_wrapper .leftSide #menuBgSquare {
    height: 40px;
    margin-left: -20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #b10738 url(https://kapitalbank.az/images/menuBgSquare.png?v=2) right top no-repeat;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 30px;
    right: 0;
    opacity: 0;
}