<div id="bookmarks"> 
    <ul> 
        <li class="link">
            <a href="/online-order/cash" style="background-image: url('https://kapitalbank.az/uploads/banner/157/credit_1479908651.svg');">
                <span>Kredit sifarişi</span>
            </a>
        </li> 
        <li class="link">
            <a href="/online-order/card" style="background-image: url('https://kapitalbank.az/uploads/banner/164/card_order_1487340002.svg');">
                <span>Kart sifarişi</span>
            </a>
        </li> 
        <li class="link">
            <a href="/birbank" style="background-image: url('https://kapitalbank.az/uploads/banner/152/logo-white-01_1548059016.svg');">
                <span>BirBank</span>
            </a>
        </li> 
        <li class="link">
            <a href="/online-services" style="background-image: url('https://kapitalbank.az/uploads/banner/153/communal_1479908632.svg');">
                <span>Kommunal ödənişlər</span>
            </a>
        </li> 
        <li class="link">
            <a href="/atm-services" style="background-image: url('https://kapitalbank.az/uploads/banner/158/atm_3_1507729205.svg');">
                <span>ATM xidmətləri</span>
            </a>
        </li> 
        <li class="link">
            <a href="/locations/branch" style="background-image: url('https://kapitalbank.az/uploads/banner/151/atms_1479908276.svg');">
                <span>Filial və Bankomatlar</span>
            </a>
        </li> 
        <li class="link">
            <a href="https://pay.kapitalbank.az/" style="background-image: url('https://kapitalbank.az/uploads/banner/156/credit_pay_1479908658.svg');">
                <span>Kredit ödənişi</span>
            </a>
        </li> 
        <li class="link">
            <a href="/career" style="background-image: url('https://kapitalbank.az/uploads/banner/155/career_1481019178.svg');">
                <span>İnsan Resursları</span>
            </a>
        </li> 
    </ul> 
</div>
